click==8.0.3
dataclasses==0.8
Flask==2.0.2
grpcio==1.43.0
grpcio-tools==1.43.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
protobuf==3.19.3
six==1.16.0
typing-extensions==4.0.1
Werkzeug==2.0.2
zipp==3.6.0
